@use 'sass:math';

@debug math.random(); // 0.2821251858
@debug math.random(); // 0.6221325814
$base-distance: 10px;

@keyframes pulsate {
    0% {
        color: pink;
        transform: scale(1);
    }
    50% {
        color: #ff66b2; /* Lighter shade of pink */
        transform: scale(1.2);
    }
    100% {
        color: pink;
        transform: scale(1);
    }
}

@keyframes pulsate2 {
    0% {
        color: rgb(255, 0, 187);
        transform: scale(1);
    }
    50% {
        color: #f766ff; /* Lighter shade of pink */
        transform: scale(1.2);
    }
    100% {
        color: rgb(255, 192, 212);
        transform: scale(1);
    }
}

.home-screen {

    height: 100vh;
    
    &-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 16px;
        border-radius: 8px;
        height: 100%;
        width: 80%;
        margin: 20px auto;
        background-color: pink;

        &-header {
            font-weight: bold;
            animation: pulsate 2.5s infinite;
        }

        &-reactive-image {

            > * {
                width: 50vw;
                height: 30vh;
            }
        }

        &-buttons {
            margin: 0px auto;
            display: flex;
            flex-direction: column; 
            gap: 16px;
            position: relative;

            .shy-button {
                transition: all 1s ease;
            }
            
            &-pulsating{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                gap: 20px;
        
                    &-word1,
                    &-word2,
                    &-word3 {
                    font-size: 2rem;
                    font-weight: bold;
                    animation: pulsate2 2s infinite;
                    }
            
                    &-word2 {
                    animation-delay: 0.5s; /* Add a delay for the second word */
                    }
            
                    &-word3 {
                    animation-delay: 1s; /* Add a delay for the third word */
                    }
            }
        }

        
    }
}